{
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["**/dist/**", "**/coverage/**"],
  "rules": {
    "string-quotes": "single",
    "value-keyword-case": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "export", "local"]
      }
    ],
    "no-invalid-position-at-import-rule": null
  }
}
