.pagewrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  header {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border: 8px limegreen double;
  }

  h1,
  h4 {
    margin: 0;
  }
}
