@import url('core/styles/variables.less');

:global {
  html body {
    font-family: 'DotGothic16', sans-serif;
    background: @bg-color;
    color: @text-color;
  }

  * {
    box-sizing: border-box;
  }
}
